/* About wrap */ 
.about_wrap {
  width: 100vw;
  height: 80vh;
  color: #000;
  /* background: url('/img/배경화면.jpg'); */
}

/* body */
.about_body {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.about_box {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Content */
.about_content {
  width: 100%;
  height: 60%;
  position: relative;
  letter-spacing: 2px;
  background-color: #F7F7F7;
}
.about_content_profile {
  width: 30%;
  height: 100%;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}
.profile_wrap {
  width: 60%;
  height: 70%;
  /* border: 1px solid red; */
  text-align: left;
}
.profile_title {
  width: 100%;
  height: 30%;
  color: #686868;
}
.profile_title h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.profile_title h3 {
  font-size: 1rem;
}
.profile_info {
  font-size: 0.8rem;
  line-height: 20px;
  color: #686868;
}
.profile_info h4 {
  font-weight: bold;
}
.address,
.birth,
.phone {
  margin-bottom: 15px;
}
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.link img {
  width: 40px;
  height: 40px;
}
.about_content_intro {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
  /* border: 1px solid red; */
}
.intro_wrap {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.intro_skill,
.intro_tool {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 50px; */
  /* margin-top: 10px; */
  /* border: 1px solid red; */
}
.intro_skill h1,
.intro_tool h1{
  font-weight: bold;
  font-size: 0.9em;
  color: #686868;
  text-align: center;

  width: 20%;
  background-color: inherit;
  /* border-radius: 60px; */
  border: 2px solid #686868;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 0;
}
.intro_img {
  display: flex;
  align-items: center;
}
.intro_img_cover {
  background-color: #E4E4E4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.intro_img img {
  width: 60px;
  height: 60px;
  margin: 20px; 
}