.project_wrap {
  width: 100vw;
  height: 220vh;
  color: var(--gray);
  background-color: var(--semi-white);
}
.project_body {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
.project_box {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Project_Content */
.project_content {
  width: 100%;
  height: 100%;
  position: relative;
  letter-spacing: 2px;
  transform: translateY(-200px);
}
.project_one {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  margin-top: 200px;
}
.project_one_square {
  width: 600px;
  height: 600px;
  background-color: var(--semi-gray);
  position: absolute;
  bottom: 100px;
  right: 200px;
  z-index: -100;
}
.project_one_left {
  width: 900px;
  height: 500px;
  margin-right: 100px;
  background-size: 900px 500px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  transition: 0.5s;
}
.arrow_one {
  font-size: 4rem;
  cursor: pointer;
}
#left_one {
transform: translateX(-50px);
}
#right_one {
  transform: translateX(50px);
}
.project_one_right {
  width: 600px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 1px solid var(--white); */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 15px var(--white); */
}
.project_one_title {
  width: 100%;
  height: 80%;
  padding: 20px 0;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_h2 {
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--black);
  font-family: var(--main-en);
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
}
.project_one_explain p {
  font-size: 1.1rem;
  line-height: 40px;
}
.more_btn {
  width: 70%;
  height: 50px;
  font-size: 1rem;
  line-height: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--gray);
  font-family: var(--main-en);
  color: var(--white);
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 3px;
}
.more_btn:hover {
  transform: scale(105%);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
  color: var(--gray);
  font-weight: bold;
}
.project_two {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-top: 200px;
}
.project_two_square {
  width: 500px;
  height: 500px;
  background-color: var(--semi-gray);
  position: absolute;
  top: 1300px;
  right: 900px;
  z-index: -100;
}
.project_two_right {
  width: 900px;
  height: 500px;
  margin-left: 100px;
  background-size: 900px 500px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  transition: 0.5s;
}
.arrow_two {
  font-size: 4rem;
  cursor: pointer;
}
#left_two {
transform: translateX(-50px);
}
#right_two {
  transform: translateX(50px);
}
.project_two_left {
  width: 600px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 1px solid var(--white); */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 15px var(--white); */
}
.project_two_title {
  width: 100%;
  height: 80%;
  padding: 20px 0;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_h2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: var(--black);
  font-family: var(--main-en);
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
}
.project_two_explain p {
  font-size: 1.1rem;
  line-height: 40px;
}
.project_three {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-top: 200px;
}
.project_three_square {
  width: 600px;
  height: 600px;
  background-color: var(--semi-gray);
  position: absolute;
  top: 1800px;
  right: 300px;
  z-index: -100;
}
.project_three_left {
  width: 900px;
  height: 500px;
  margin-right: 100px;
  background-size: 900px 500px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  transition: 0.5s;
}
.arrow_three {
  font-size: 4rem;
  cursor: pointer;
}
#left_three {
transform: translateX(-50px);
}
#right_three {
  transform: translateX(50px);
}
.project_three_right {
  width: 600px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 1px solid var(--white); */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 15px var(--white); */
}
.project_three_title {
  width: 100%;
  height: 80%;
  padding: 20px 0;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_h2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: var(--black);
  font-family: var(--main-en);
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
}
.project_three_explain p {
  font-size: 1.1rem;
  line-height: 40px;
}

/* Modal */
/* modal_one */
.project_one_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-white);
  visibility: hidden;
  transition: all 0.5s;
  opacity: 0;
  z-index: 1000;
}
.modal_one_project {
  display: inline-block;
  font-family: var(--main-en);
  color: var(--black);
  font-size: 3rem;
  font-weight: bold;
  margin-top: 45px;
  position: absolute;
  left: 8%;
}
.close_btn_one i {
  display: inline-block;
  font-size: 3rem;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.first_modal_body {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first_modal_wrap {
  width: 70%;
  height: 70%;
  position: relative;
}
.first_modal_top {
  width: 100%;
  height: 50%;
  display: flex;
  position: absolute;
  left: 200px;
  bottom: 450px;
}
.first_modal_top_introduce {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first_modal_top_introduce h1 {
  margin: 30px 0;
  margin-left: 50px;
  color: var(--black);
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.first_modal_top_introduce li {
  margin: 30px 0;
  margin-left: 70px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--gray);
}
.first_modal_top_slider {
  width: 50%;
  height: 100%;
  margin-left: 100px;
  position: relative;
  border: 3px solid #E4E4E4;
}
.first_modal_top_slider::after {
  content: "";
  width: 400px;
  height: 400px;
  background-color: var(--light-gray);
  position: absolute;
  top: 100px;
  right: -100px;
  z-index: -10;
}
.first_modal_top_slider img {
  width: 100%;
  height: 100%;
}
.first_modal_bottom {
  width: 70%;
  height: 50%;
  padding: 50px;
  position: absolute;
  bottom: 0;
  left: 200px;
}
.first_modal_bottom p {
  font-size: 2rem;
  margin-top: 50px;
  line-height: 1.5;
  color: var(--black);
  font-style: italic;
}
.first_modal_bottom::before {
  content: "";
  width: 200px;
  height: 200px;
  border: 5px solid var(--light-gray);
  position: absolute;
  top: 0;
  left: -150px;
  z-index: -100;
}
.first_modal_bottom::after {
  content: "";
  width: 250px;
  height: 250px;
  background-color: var(--light-gray);
  position: absolute;
  left: -100px;
  top: 50px;
  z-index: -100;
}
/* modal_two */
.project_two_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-white);
  visibility: hidden;
  transition: all 0.5s;
  opacity: 0;
  z-index: 1000;
}
.modal_two_project {
  display: inline-block;
  font-family: var(--main-en);
  color: var(--black);
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 45px;
  left: 8%;
}
.close_btn_two i {
  display: inline-block;
  font-size: 3rem;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.second_modal_body {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second_modal_wrap {
  width: 70%;
  height: 70%;
  position: relative;
}
.second_modal_top {
  width: 100%;
  height: 50%;
  display: flex;
  position: absolute;
  left: 200px;
  bottom: 450px;
}
.second_modal_top_introduce {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.second_modal_top_introduce h1 {
  margin: 30px 0;
  margin-left: 50px;
  color: var(--black);
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.second_modal_top_introduce li {
  margin: 30px 0;
  margin-left: 70px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--gray);
}
.second_modal_top_slider {
  width: 50%;
  height: 100%;
  margin-left: 100px;
  position: relative;
  border: 3px solid #E4E4E4;
}
.second_modal_top_slider::after {
  content: "";
  width: 400px;
  height: 400px;
  background-color: var(--light-gray);
  position: absolute;
  top: 100px;
  right: -100px;
  z-index: -10;
}
.second_modal_top_slider img {
  width: 100%;
  height: 100%;
}
.second_modal_bottom {
  width: 70%;
  height: 50%;
  padding: 50px;
  position: absolute;
  bottom: 0;
  left: 200px;
}
.second_modal_bottom p {
  font-size: 2rem;
  margin-top: 50px;
  line-height: 1.5;
  color: var(--black);
  font-style: italic;
}
.second_modal_bottom::before {
  content: "";
  width: 200px;
  height: 200px;
  border: 5px solid var(--light-gray);
  position: absolute;
  top: 0;
  left: -150px;
  z-index: -100;
}
.second_modal_bottom::after {
  content: "";
  width: 250px;
  height: 250px;
  background-color: var(--light-gray);
  position: absolute;
  left: -100px;
  top: 50px;
  z-index: -100;
}
/* modal_three */
.project_three_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-white);
  visibility: hidden;
  transition: all 0.5s;
  opacity: 0;
  z-index: 1000;
}
.modal_three_project {
  display: inline-block;
  font-family: var(--main-en);
  color: var(--black);
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 45px;
  left: 8%;
}
.close_btn_three i {
  display: inline-block;
  font-size: 3rem;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.third_modal_body {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third_modal_wrap {
  width: 70%;
  height: 70%;
  position: relative;
}
.third_modal_top {
  width: 100%;
  height: 50%;
  display: flex;
  position: absolute;
  left: 200px;
  bottom: 450px;
}
.third_modal_top_introduce {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.third_modal_top_introduce h1 {
  margin: 30px 0;
  margin-left: 50px;
  color: var(--black);
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.third_modal_top_introduce li {
  margin: 30px 0;
  margin-left: 70px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--gray);
}
.third_modal_top_slider {
  width: 50%;
  height: 100%;
  margin-left: 100px;
  position: relative;
  border: 3px solid #E4E4E4;
}
.third_modal_top_slider::after {
  content: "";
  width: 400px;
  height: 400px;
  background-color: var(--light-gray);
  position: absolute;
  top: 100px;
  right: -100px;
  z-index: -10;
}
.third_modal_top_slider img {
  width: 100%;
  height: 100%;
}
.third_modal_bottom {
  width: 70%;
  height: 50%;
  padding: 50px;
  position: absolute;
  bottom: 0;
  left: 200px;
}
.third_modal_bottom p {
  font-size: 2rem;
  margin-top: 50px;
  line-height: 1.5;
  color: var(--black);
  font-style: italic;
}
.third_modal_bottom::before {
  content: "";
  width: 200px;
  height: 200px;
  border: 5px solid var(--light-gray);
  position: absolute;
  top: 0;
  left: -150px;
  z-index: -100;
}
.third_modal_bottom::after {
  content: "";
  width: 250px;
  height: 250px;
  background-color: var(--light-gray);
  position: absolute;
  left: -100px;
  top: 50px;
  z-index: -100;
}

/* Common Js class */
.modal_active {
  visibility: visible;
  opacity: 1;
}
.modal_header {
  height: 10%;
  width: 100%;
}
.modal_header_left {
  position: relative;
}
.modal_logo_rect1 {
  position: absolute;
  top: 35px;
  left: 100px;
  width: 70px;
  height: 70px;
  background-color: var(--black);
}
.modal_logo_rect2 {
  position: absolute;
  top: 45px;
  left: 110px;
  width: 70px;
  height: 70px;
  border: 2px solid var(--black);
}