@import url('/css/header.css');
@import url('/css/home.css');
@import url('/css/about.css');
@import url('/css/project.css');
@import url('/css/contact.css');

@import url('/css/common_title.css');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  height: 5%;
  background: #000;
  
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);
}